src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <spring:beans>
        <spring:import resource="classpath:spring-config.xml" />
    </spring:beans>

    <jms:connector
            name="jmsConnector"
            specification="1.1"
            connectionFactory-ref="jmsConnectionFactory"
            persistentDelivery="true"/>


    <flow name="ImageConverter">
        <jms:inbound-endpoint queue="imageConvert"/>
        <logger message="Received Image Convert request: #[payload]" level="INFO" category="imageConvert"/>
    </flow>

</mule>